{% extends 'base.html.twig' %}

{% block title %}Pays{% endblock %}

{% block monTitre %}
    Liste de tous les pays

{% endblock %}

{% block body %}
<div class="row">
    {% for pays in pays %}
        <div class="col-6">
            <div class="row align-items-center">
                <div class="col-6 col-md-4 col-lg-2">
                    <img src="{{asset('images/pays/' ~ pays.image)}}" class="perso_imgTimbre img-fluid">
                </div>
                <div class="col">
                    {{pays.nom}}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
